body{
  font-family: Arial;
  background:#f2f2f2;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card{
  background:white;
  padding:25px;
  width:320px;
  border-radius:8px;
  box-shadow:0 0 10px #ccc;
}

input,select,button{
  width:100%;
  padding:8px;
  margin:6px 0;
}

button{
  background:crimson;
  color:white;
  border:none;
}

table{
  width:100%;
  margin-top:20px;
  border-collapse:collapse;
}

td,th{
  border:1px solid #ddd;
  padding:6px;
}
